*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.like-btn {
    cursor: pointer;
    font-size: 20px;
    color: gray;
    background: none;
    border: none;
}

.like-btn.liked {
    color: red;
}